<div class="row">
  <div class="column">
    <img  src="../../../../assets/images/image.jpg" height="100%" width="100%"/>
  </div>
  <div class="second-column">
    <div class="row">
    <img class="image" src="../../../../assets/images/image.jpg" height="100%" width="100%"/>
  </div>
  <div class="row">
    <img class="image" src="../../../../assets/images/image.jpg" height="100%" width="100%"/>
  </div>
  <div class="row">
    <img class="image-last" src="../../../../assets/images/image.jpg" height="100%" width="100%"/>
  </div>
  </div>
</div> 